.wd-search-icon {
    top: 1.2rem;
}


.wd-no-space {
    padding: 0;
    margin: 0;
}

.wd-img-overlay {
    bottom:0px;
    padding-left: 10px;
}

.fa-stack.wd-stack-normal {
    width: 20px;
    height:16px;
}

.fa-stack-1x.wd-stack-element-normal {
    width: 20px;
    height:16px;
    bottom:9px;
}